{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content%}

{{ cta("Disability awareness training", "This is an all day training offer which is made up of three informative, interactive and insightful workshops.", "Book some training", "/contact/", "fat fa-head-side-brain", level="h1") }}

<div class="mx-auto max-w-4xl px-4 py-16 text-xl">
    <p class="mb-4">
        Participants will be able to experience trying some practical tasks as well as the opportunity to develop learning around different types of disability. With the opportunity to engage in a Q&A, participants will embark on a unique learning experience. Please see below for further details.
    </p>
    <p class="mb-4 font-bold">Session 1 - Disability and it's effects</p>
    <ul class="mb-4 ml-4 list-disc">
        <li>General information, definitions, facts and figures</li>
        <li>Medical and social models</li>
        <li>Lived experience</li>
        <li>Emotional impact of disability</li>
    </ul>
    <p class="mb-4 font-bold">
        Session 2 - Deep dive into different disabilities
    </p>
    <p class="mb-4">Specific Information and Advice</p>
    <ul class="mb-4 ml-4 list-disc">
        <li>Physical disability</li>
        <li>Sensory disability</li>
        <li>Neurodiversity</li>
        <li>Learning disability/ difficulty</li>
    </ul>
    <p class="mb-4 font-bold">Session 3 - Disability in Practise</p>
    <p class="mb-4">Practical tasks and interactive workshop</p>
    <ul class="mb-4 ml-4 list-disc">
        <li>Sighted guiding and audio description</li>
        <li>Hearing loss tasks</li>
        <li>Physical Challenges tasks</li>
        <li>Q and A</li>
    </ul>

    <figure class="mt-10 border-t border-jet pt-10 text-md">
        <blockquote class="text-center">
            <p>"Phoebe delivered 'Physical Disability Awareness Training' to our team. It was real, down to earth and practical, she gave her own experiences in a fun and interactive way. Lived Experience is powerful and hearing from someone who lives with a physical disability is vital for any disability awareness training. I'd highly recommend Phoebe for your training."</p>
        </blockquote>
        <figcaption class="mt-5">
            <div class="text-center">- Mark Upton, Chief Executive at MyVision Oxfordshire, Chair of Visionary UK</div>
        </figcaption>
    </figure>
</div>

{% endblock %}
