{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content %}
{{ cta("About", "We facilitate conversations which enable people to truly reflect on what the word 'inclusion' means and what it looks like within a given setting.", "Book a conversation", "mailto:hello@3inc.co.uk", "fat fa-people-roof", level="h1") }}

<div class="max-w-4xl mx-auto px-4 py-16 text-xl">
    <p class="mb-4">3DOM and Inclusion is being developed because I passionately believe in inclusion for all. I believe that for individuals, businesses and organisations to be truly inclusive, there needs to be a collective responsibility by everyone to embed Equity, Diversity and Inclusion and to hear the voice of real, lived experience in helping to make this happen.</p>
    <p class="mb-4">I offer training, facilitation and consultancy to support businesses and organisations to understand how they can be truly inclusive and do this through the lens of lived experience. Initially, this will be focussed on including those with physical disabilities. I will not speak about specific disabilities, only to name some, but will use my lived experience to highlight how society, including workplaces, still has a long way to go to being truly inclusive and start to explore ways to create change.</p>
    <p class="mb-4">Our <strong>vision</strong> is a world which is truly inclusive of everyone, through the lens of lived experience.</p>
    <p class="mb-4">Our <strong>mission</strong> is we support disabled people to share their lived experience to help shine a light on true inclusion through training, facilitation and consultancy.</p>
    <p class="mb-4">Our <strong>values</strong> are:</p>
    <ul class="list-disc ml-8 mb-4">
        <li>Respectful of everyone</li>
        <li>Listen with empathy</li>
        <li>Create a safe space</li>
        <li>Acknowledge 'no one size fits all'</li>
        <li>Positively break down barriers and promote inclusion</li>
    </ul>
    <p class="mb-4">Here, at 3DOM and Inclusion, we want to fully demonstrate the positive difference to everyone, when individuals can participate in a truly inclusive environment and inclusion is at the very heart. We also want to show, through authentic, relatable experiences, and positive facilitation, the deep, long-lasting impact exclusion and inclusion can have on individuals.</p>
    <p class="mb-4">We recognise that sometimes people can feel uncomfortable with the idea of inclusion, not because they disagree with it, but because they have not had the opportunity to explore what it means in practice. We believe by educating through lived experience, and open conversation, we can support them on their journey.</p>
    <p class="mb-4">My own lived experience has enabled me to gain an understanding of what exclusion feels like but also what inclusion feels like and I hope that by using this, as well as more broader experiences, to support others in understanding the importance of being truly inclusive and to support ways in making this happen.</p>
</div>

{% endblock content %}
