@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
    }

    .heading {
        @apply text-3xl;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: 400;
    }

    h1 {
        @apply text-5xl;
        font-weight: 600
    }

    h2 {
        @apply text-4xl;
        font-weight: 600
    }

    h3 {
        @apply text-3xl;
        font-weight: 600
    }

    main a {
        @apply text-apple font-bold hover:underline;
    }

    .ft-1-l {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: 300;
    }
    .ft-1-r {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: 400;
    }
    .ft-1-b {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-weight: 700;
    }

    .ft-2-l {
        font-family: 'Diphylleia', serif;
        font-weight: 300;
    }
    .ft-2-r {
        font-family: 'Diphylleia', serif;
        font-weight: 400;
    }
    .ft-2-b {
        font-family: 'Diphylleia', serif;
        font-weight: 600;
    }

    .ft-3-l {
        font-family: 'IBM Plex Serif', serif;
        font-weight: 300;
    }
    .ft-3-r {
        font-family: 'IBM Plex Serif', serif;
        font-weight: 400;
    }
    .ft-3-b {
        font-family: 'IBM Plex Serif', serif;
        font-weight: 600;
    }

    .ft-4-l {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
    }
    .ft-4-r {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .ft-4-b {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
    }

    .ft-5-l {
        font-family: 'Playfair', serif;
        font-weight: 300;
    }
    .ft-5-r {
        font-family: 'Playfair', serif;
        font-weight: 400;
    }
    .ft-5-b {
        font-family: 'Playfair', serif;
        font-weight: 600;
    }

    .ft-6-l {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    .ft-6-r {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
    .ft-6-b {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

}
