{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content%}

{{ cta("Services", "I work with organisations and businesses in Oxfordshire and share my real, lived experience to help start conversations on what true inclusion means. I do this through training, facilitation and consultation.", "Book a consultation", "/contact/", "fa-sharp fa-person-seat", level="h1") }}

<div class="mx-auto max-w-4xl px-4 py-16 text-xl">
    <p class="mb-4">
        I offer 'Physical Disability Awareness training' through the lens of
        real, lived experience. This training has been created to support
        organisations and businesses on their journey to becoming truly
        inclusive of those who are physically disabled. It also creates the
        opportunity to start thinking more broadly about what being truly
        inclusive means and how this can support other types of disability as
        well as other protected characteristics. Interactive and honest, this
        training can be tailored to meet the needs of your organisation and can
        be delivered on its own or a part of a wider training package. If you
        would like to find out more,
        <a href="/contact/">please get in touch</a>.
    </p>

    <div class="grid grid-cols-6 mt-8 gap-2 mb-8">
        <a href="/services/disability-awareness-training/" class="col-span-2 flex flex-col items-center justify-between gap-4 border border-jet p-4 hover:no-underline bg-apple hover:bg-darkblue text-whitewash">
            <div class="uppercase text-sm text-center">
                Disability awareness training
            </div>
            <div class="">
                <i class="fat fa-5x fa-head-side-brain"></i>
            </div>
        </a>
        <a href="/services/visual-awareness-training/" class="col-span-2 flex flex-col items-center justify-between gap-4 border border-jet p-4 hover:no-underline bg-darkblue hover:bg-apple text-whitewash">
            <div class="uppercase text-sm text-center">
                Visual awareness training
            </div>
            <div class="">
                <i class="fat fa-5x fa-person-walking-with-cane"></i>
            </div>
        </a>
        <a href="/services/the-emotional-impact-of-disability/" class="col-span-2 flex flex-col items-center justify-between gap-4 border border-jet p-4 hover:no-underline bg-apple hover:bg-darkblue text-whitewash">
            <div class="uppercase text-sm text-center">
                The emotional impact of disability
            </div>
            <div class="">
                <i class="fat fa-5x fa-masks-theater"></i>
            </div>
        </a>
        <a href="/services/facilitation/" class="col-start-2 col-span-2 flex flex-col items-center justify-between gap-4 border border-jet p-4 hover:no-underline bg-darkblue hover:bg-apple text-whitewash">
            <div class="uppercase text-sm text-center">
                Facilitation
            </div>
            <div class="">
                <i class="fat fa-5x fa-handshake-angle"></i>
            </div>
        </a>
        <a href="/services/consultation/" class="col-span-2 flex flex-col items-center justify-between gap-4 border border-jet p-4 hover:no-underline bg-apple hover:bg-darkblue text-whitewash">
            <div class="uppercase text-sm text-center">
                Consultation
            </div>
            <div class="">
                <i class="fat fa-5x fa-comments"></i>
            </div>
        </a>
    </div>

    <p class="mb-4">The above training opportunities can be delivered on their own or as part of wider package, alongside my close partners Nathan Tree and <a href="https://www.myvision.org.uk/">MyVision Oxfordshire</a>.</p>
    <h2 class="mt-8 text-2xl">Nathan Tree</h2>
    <p class="mb-4">Nathan is passionate about supporting communities to include people with disabilities and assisting those with challenges to get what they want from life. He was told he was losing his sight when he was 19 due to a condition called cone-rod dystrophy and was registered severely sight impaired in 2017.</p>
    <p class="mb-4">Nathan works as a community engagement lead at MyVision Oxfordshire and part of his role is to deliver training in visual impairment awareness. He is also a trustee at Enrych Oxfordshire and the founder of Blind Ice Hockey UK.</p>
    <p class="mb-4">In his spare time you will find him playing blind ice hockey, spending time with family and friends and walking with his guide dog Maisie.</p>
</div>

{% endblock content %}
