{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content%}

{{ cta("Services", "I work with organisations and businesses in Oxfordshire and share my real, lived experience to help start conversations on what true inclusion means. I do this through training, facilitation and consultation.", "Book a consultation", "/contact/", "fa-sharp fa-person-seat", level="h1") }}

<div class="mx-auto max-w-4xl px-4 py-16 text-xl">
    <p class="mb-4">
        I offer 'Physical Disability Awareness training' through the lens of
        real, lived experience. This training has been created to support
        organisations and businesses on their journey to becoming truly
        inclusive of those who are physically disabled. It also creates the
        opportunity to start thinking more broadly about what being truly
        inclusive means and how this can support other types of disability as
        well as other protected characterises. Interactive and honest, this
        training can be tailored to meet the needs of your organisation and can
        be delivered on its own or a part of a wider training package. If you
        would like to find out more,
        <a href="/contact/">please get in touch</a>.
    </p>

    <h2 class="text-2xl">Disability Awareness Training</h2>
    <p class="mb-4">
        This is an all day training offer which is made up of three informative,
        interactive and insightful workshops where participants will be able to
        experience trying some practical tasks as well as the opportunity to
        develop learning around different types of disability. With the
        opportunity to engage in a Q&A, participants will embark on a unique
        learning experience. Please see below for further details.
    </p>
    <p class="mb-4 font-bold">Session 1 - Disability and it's effects</p>
    <ul class="mb-4 ml-4 list-disc">
        <li>General information, definitions, facts and figures</li>
        <li>Medical and social models</li>
        <li>Lived experience</li>
        <li>Emotional impact of disability</li>
    </ul>
    <p class="mb-4 font-bold">
        Session 2 - Deep dive into different disabilities
    </p>
    <p class="mb-4">Specific Information and Advice</p>
    <ul class="mb-4 ml-4 list-disc">
        <li>Physical disability</li>
        <li>Sensory disability</li>
        <li>Neurodiversity</li>
        <li>Learning disability/ difficulty</li>
    </ul>
    <p class="mb-4 font-bold">Session 3 - Disability in Practise</p>
    <p class="mb-4">Practical tasks and interactive workshop</p>
    <ul class="mb-4 ml-4 list-disc">
        <li>Sighted guiding and audio description</li>
        <li>Hearing loss tasks</li>
        <li>Physical Challenges tasks</li>
    </ul>
    <p class="mb-4">Q and A</p>

    <h2 class="mt-8 text-2xl">Facilitation</h2>
    <p class="mb-4">A paragraph about facilitation.</p>

    <h2 class="mt-8 text-2xl">Consultation</h2>
    <p class="mb-4">A paragraph about consultation.</p>
</div>

{% endblock content %}
