{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content%}

{{ cta("Consultation", "Let's work together to continue to create a truly inclusive society", "Book some training", "/contact/", "fat fa-comments", level="h1") }}

<div class="mx-auto max-w-4xl px-4 py-16 text-xl">
    <p class="mb-4">I can work with your organisation and use my own, real, lived experience to reflect on some of the projects you are working on to see if they are accessible and inclusive. If they are elements of this that need developing in the project, I can then work with the team to ensure that the project is truly inclusive of those who are physically disabled. I not only consult on projects but I also consult on other aspects of the work place so if this is something you are interested in finding out more about, please do get in touch.</p>
</div>

{% endblock %}
