{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content%}

{{ cta("The emotional impact of disability", "Short blurb", "Book some training", "/contact/", "fat fa-masks-theater", level="h1") }}

<div class="mx-auto max-w-4xl px-4 py-16 text-xl">
    <p class="mb-4">Nathan and Phoebe passionately believe in raising awareness of and educating about, the emotional impact living with a disability can have. This includes acknowledging the challenges but also celebrating the many positives. In this honest and thought-provoking training, we share their own real, lived experiences about living with a disability and support the audience to start to think of actions they can take to start to change perspectives and if they are comfortable too, share their own experiences.</p>
</div>

{% endblock %}
