{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content %}
{{ cta("About", "3DOM and Inclusion is being developed because I passionately believe in inclusion for all.", none, none, "fat fa-people-roof", level="h1") }}

<div class="max-w-4xl mx-auto px-4 py-16 text-xl">
    <div class="mb-4 flex flex-row gap-4 items-end">
        <img src="/images/phoebe.jpg" alt="A close up picture of Phoebe; a woman with short brown hair and glasses." class="inline-block" width="200">
        <div class="">
            <p class="font-bold text-2xl mb-2">My name is Phoebe</p>
            <p class="">I believe that for individuals, businesses, and organisations to be truly inclusive, there needs to be a collective responsibility by everyone to embed Equity, Diversity, and Inclusion and to hear the voice of real, lived experience in helping to make this happen.</p>
        </div>
    </div>

    <p class="mb-4">My <strong>vision</strong> is of a world which is truly inclusive of everyone, through the lens of lived experience.</p>
    <p class="mb-4">My <strong>mission</strong> is to support disabled people to share their lived experience to help shine a light on true inclusion.</p>
    <p class="mb-4">My <strong>values</strong> are:</p>
    <ul class="list-disc ml-8 mb-4">
        <li>Respectful of everyone</li>
        <li>Listen with empathy</li>
        <li>Create a safe space</li>
        <li>Acknowledge 'no one size fits all'</li>
        <li>Positively break down barriers and promote inclusion</li>
    </ul>
</div>

{% endblock content %}
