{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content%}

{{ cta("Testimonials", "Here are some of the things people are saying.", "Get in touch", "/contact/", "fas fa-quotes", level="h1") }}


<div class="mx-auto max-w-4xl px-4 py-16 ">
    <figure class="mt-10">
        <blockquote class="text-center text-xl font-semibold leading-8">
            <p>"Phoebe's session really had an impact on me. Her approach to facilitation was perfect and she made everyone feel comfortable and seemed comfortable herself. It was a really good mix of sharing experience and knowledge and also inviting discussion and questions. I think the mix of seriousness and humour also worked really well."</p>
        </blockquote>
        <figcaption class="mt-5">
            <div class="text-center">- Sabah</div>
        </figcaption>
    </figure>

    <figure class="mt-10">
        <blockquote class="text-center text-xl font-semibold leading-8">
            <p>"Phoebe delivered 'Physical Disability Awareness Training' to our team. It was real, down to earth and practical, she gave her own experiences in a fun and interactive way. Lived Experience is powerful and hearing from someone who lives with a physical disability is vital for any disability awareness training. I'd highly recommend Phoebe for your training."</p>
        </blockquote>
        <figcaption class="mt-5">
            <div class="text-center">- Mark Upton, Chief Executive at MyVision Oxfordshire, Chair of Visionary UK</div>
        </figcaption>
    </figure>
</div>

{% endblock %}
