{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content%}

{{ cta("Visual awareness training", "Short blurb", "Book some training", "/contact/", "fat fa-person-walking-with-cane", level="h1") }}

<div class="mx-auto max-w-4xl px-4 py-16 text-xl">
    <p class="mb-4">This training provides insight into different eye conditions and how this can impact on people's everyday life, as well as providing the opportunity to learn about practical tips to support independence. There is also an opportunity to have a go at sighted guiding and awareness activities.  To find out more, please visit, <a href="https://www.myvision.org.uk/supporting-you/accessibility-training/">Awareness Training - MyVision Oxfordshire</a>.</p>
</div>

{% endblock %}
