{% from "_macros.html" import cta %}
<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <title>{% block title %}3inc.co.uk{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/45e40ed5c7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body class="flex flex-col h-full">
    <header class="bg-whitewash px-4 py-6">
        <div class="max-w-4xl mx-auto flex flex-col md:flex-row flex-wrap gap-4 md:items-center py-4">
            <div class="md:absolute left-[20px]">
                <a class="" href="/">
                    <img src="/images/logo.png" alt="The 3DOM logo. Two cartoon hands making a heart symbol. The letters 3, D, O, and M underneath." width="100">
                </a>
            </div>
            <nav class="text-jet font-bold flex-grow">
                <ul class="flex flex-col md:flex-row gap-6 md:justify-end">
                    <li class=""><a class="hover:text-apple focus:text-apple flex flex-row items-center heading" href="/services/">Services</a></li>
                    <li class=""><a class="hover:text-apple focus:text-apple flex flex-row items-center heading" href="/testimonials/">Testimonials</a></li>
                    <li class=""><a class="hover:text-apple focus:text-apple flex flex-row items-center heading" href="/blog/">Blog</a></li>
                    <li class=""><a class="hover:text-apple focus:text-apple flex flex-row items-center heading" href="/contact/">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="text-right">

        </div>
    </header>
    <main class="flex-grow">{% block content %}{% endblock %}</main>
    {{ cta("Get in touch", "Please contact me to book a consultation.", "Contact me", "/contact/", "fas fa-envelope", level="h2", bg="bg-darkblue", icon_position="left") }}
    <footer class="bg-whitewash p-4">
        <div class="max-w-3xl mx-auto flex flex-col md:flex-row flex-wrap gap-4 md:items-center">
            <div class="">
                <a class="" href="/">
                    <img src="/images/logo.png" alt="The 3DOM logo. Two cartoon hands making a heart symbol. The letters 3, D, O, and M underneath." width="100">
                </a>
            </div>
            <nav class="text-jet flex-grow">
                <ul class="flex flex-col md:flex-row gap-4 md:justify-end">
                    <li class=""><a class="hover:text-apple focus:text-apple flex flex-row items-center heading" href="/services/">Services</a></li>
                    <li class=""><a class="hover:text-apple focus:text-apple flex flex-row items-center heading" href="/testimonials/">Testimonials</a></li>
                    <li class=""><a class="hover:text-apple focus:text-apple flex flex-row items-center heading" href="/blog/">Blog</a></li>
                    <li class=""><a class="hover:text-apple focus:text-apple flex flex-row items-center heading" href="/contact/">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="text-center text-jet text-sm mt-2">
            &copy; 3DOM 2023
        </div>
    </footer>
</body>

</html>
