{% macro cta(name, description, button_text, button_link, icon, bg="bg-apple", level="h2", icon_position="right") %}
    <div class="{{ bg }} px-4 py-16">
        <div class="max-w-4xl mx-auto text-white flex flex-col {% if icon_position == "right" %}md:flex-row{% else %}md:flex-row-reverse{% endif %} gap-4 items-center">
            <div class="mb-8 md:mb-0">
                <div class="flex flex-row items-center mb-4 gap-4">
                    <{{ level }} class="uppercase font-bold text-5xl heading grow">{{ name }}</{{ level }}>
                    <div class="text-right md:hidden">
                        <i class="fa-5x {{ icon }}"></i>
                    </div>
                </div>
                <p class="text-3xl mb-8 max-w-lg">{{ description }}</p>
                {% if button_text %}
                    <p>
                        <a class="bg-white py-2 px-3 text-jet uppercase text-xl font-bold {% if bg == "bg-apple" %}hover:bg-darkblue{% else %}hover:bg-apple{% endif %} hover:text-whitewash inline-block hover:no-underline" href="{{ button_link }}">{{ button_text }}</a>
                    </p>
                {% endif %}
            </div>
            <div class="grow text-center hidden md:block">
                <i class="fa-10x {{ icon }}"></i>
            </div>
        </div>
    </div>
{% endmacro %}
