{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content %}
    {{ cta("Welcome to 3DOM", "A life's lens of inclusivity", "Look at our services", "/services/", "fat fa-hand-wave", level="h1") }}

    <div class="max-w-4xl mx-auto px-4 py-16 text-xl">
        <p class="leading text-2xl">If your organisation is passionate about and interested in, learning more about how you can continue to develop on your journey to becoming truly inclusive of those who are physically disabled, please look at my services page to see how I can help.</p>

        <h2 class="font-bold text-2xl mb-4 mt-8">My name is Phoebe</h2>

        <div class="mb-4 flex flex-col md:flex-row gap-4 md:items-end">
            <img src="/images/phoebe.jpg" alt="A close up picture of Phoebe; a woman with short brown hair and glasses." class="inline-block" width="200">
            <div class="">
                <p>I passionately believe in inclusion for all, I'm keen to share my real, lived experience in order to try to help society to continue to progress in achieving this. I want to ensure that I can play my part in making sure disabled people, including future generations, do not have to experience some of the things I have had too, and to be able to live the life they would like too. I am also very keen to work in collaboration with others to ensure we create opportunities so that everyone who would like too, can share their experiences in a way that works for them.</p>
            </div>
        </div>

        <p class="mb-4">I believe that for individuals, businesses, and organisations to be truly inclusive, there needs to be a collective responsibility by everyone to embed Equity, Diversity, and Inclusion and to hear the voice of real, lived experience in helping to make this happen.</p>

        <p class="mb-4">My <strong>vision</strong> is of a world which is truly inclusive of everyone, through the lens of lived experience.</p>
        <p class="mb-4">My <strong>mission</strong> is to support disabled people to share their lived experience to help shine a light on true inclusion.</p>
        <p class="mb-4">My <strong>values</strong> are:</p>
        <ul class="list-disc ml-8 mb-4">
            <li>Respectful of everyone</li>
            <li>Listen with empathy</li>
            <li>Create a safe space</li>
            <li>Acknowledge 'no one size fits all'</li>
            <li>Positively break down barriers and promote inclusion</li>
        </ul>
        <p class="mb-4">I work for a local charity as the Equity, Diversity and Inclusion Co-ordinator and I am also Chair of Board of Trustees at a local charity, Enrych Oxfordshire. In my spare time I enjoy playing Wheelchair Rugby and spending time with family and friends.</p>
    </div>
{% endblock content %}
