{% extends "_base.html" %}
{% from "_macros.html" import cta %}

{% block content %}
    {{ cta("Welcome to 3DOM", "A life's lens of inclusivity", "Look at our services", "/services/", "fat fa-hand-wave", level="h1") }}

    <div class="max-w-4xl mx-auto px-4 py-16">
        <p class="leading text-2xl">If your organisation is passionate about and interested in, learning more about how you can continue to develop on your journey to becoming truly inclusive of those who are physically disabled, please look at my services page to see how I can help.</p>
    </div>
{% endblock content %}
